@model CourseUpdateViewModel

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">
                Update Course
            </p>
            <form method="post" class="forms-sample" enctype="multipart/form-data">
                <div class="text-danger" asp-validation-summary="All"></div>

                <div class="form-group">
                    <label for="exampleInputUsername1">Name</label>
                    <input class="form-control" id="input1" asp-for="Name" placeholder="Tutle">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="exampleInputUsername1">Desc</label>
                    <input class="form-control" id="input1" asp-for="Description" placeholder="Tutle">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="exampleInputUsername1">Start Date</label>
                    <input class="form-control" id="input1" asp-for="StartDate" placeholder="Tutle">
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label for="exampleInputUsername1">Fee</label>
                    <input class="form-control" id="input1" asp-for="Fee" placeholder="Tutle">
                    <span asp-validation-for="Fee" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="exampleInputUsername1">Category</label>
                    <select asp-for="CategoryId">
                        <option selected disabled value="@null">Select Category</option>
                        @foreach (Category category in ViewBag.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>

                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label for="exampleInputUsername1">Duration</label>
                    <input class="form-control" id="input1" asp-for="Duration" placeholder="Tutle">
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label for="exampleInputUsername1">Main image</label>
                    <input class="form-control" id="input1" asp-for="CourseImage" placeholder="Image">
                    <span asp-validation-for="CourseImage" class="text-danger"></span>
                </div>



                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>